body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1,nav {
  text-align: center;
}
nav a {
  background-color: #ccc;
}

#featured-property{
  text-align: center;
} 

#featured-property p {
  width: 700px;
  margin: 10px auto;
}

#details {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 25px auto; 
  
}

#details div {
  text-align: center;
}